/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
/*    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, sans-serif;*/
  position: relative;
  background-color: #c8c8c8;
  background-size: auto, 100%;
  background-repeat: repeat-x;
  background-position: 0 -152px, 0 80px;
}
body#home {
  background-position: 0 0, 0 232px;
}
a {
  color: #ffa500;
}
img {
  border: none;
  display: block;
}
article {
  padding-top: 10px;
  padding-bottom: 10px;
/*font-size: 12pt;*/
/*width: 800px;*/
  margin: 0 auto;
/*background-color: rgb(30, 18, 19);*/
/*background-image: url(../img/menubg3.png);*/
/*background-repeat: no-repeat;*/
/*min-height: 780px;*/
  color: #fff;
  overflow: hidden;
  clear: both;
}
.floater {
  float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
.footnote {
  font-size: smaller;
}
header {
  overflow: hidden;
  clear: both;
}
.narrow-header {
  background: #7e3932;
  background: #7e3932 url("../img/logorepeat.png") repeat-x;
  background-position: 0 -152px, 0 80px;
}
.logo-mini {
  display: block;
  font-size: 0;
  height: 80px;
  background-image: url("../img/logomini.png");
  background-repeat: no-repeat;
  width: 345px;
  float: left;
  margin-left: 10px;
}
/* TODO remove this? */
#home #logo {
  height: 232px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  width: 800px;
  float: none;
  clear: both;
  margin: 0 auto;
}
/*h2 {
    margin-top: 0px;
    clear: both;
}*/
#news-content .windowbg {
  margin: 0;
}
table th {
  vertical-align: top;
  align: right;
}
table th img {
  float: right;
}
/*
 * Header's nav-bar
 */
.header-nav-thin {
  float: left;
  margin-left: 10px;
/*margin-top: 30px;*/
}
.header-nav-spacer {
  height: 30px;
}
.header-nav,
.header-sub-nav {
  background: #555;
  float: none;
  clear: both;
  margin: 0;
}
.header-nav-list,
.header-sub-nav-list {
/*padding: 8px 0 4px;*/
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.header-nav-item,
.header-sub-nav-item {
/*list-style-type: none;*/
/*margin: 0 6px;*/
  display: inline-block;
  font-size: 12pt;
  font-family: 'Conv_PressStart2P', Lucida Console, monospace;
}
.header-nav .header-nav-item {
  margin: 0 13px;
}
.header-nav-item:hover {
  background-color: #4d4d4d;
}
.header-nav-item.link-to-self {
  background-color: #413b3b;
}
.header-nav-item a,
.header-sub-nav-item a {
  display: inline-block;
  padding: 8px 8px 8px 11px;
  text-decoration: none;
  color: #fff;
}
.header-nav-end {
  display: inline-block;
  width: 100%;
  line-height: 0;
}
.header-sub-nav {
  background-color: #413b3b;
}
.header-sub-nav-item {
  font-size: 10pt;
  margin: 0 10px 0 10px;
}
.header-sub-nav-item a {
  color: #aaa;
  padding: 4px 4px 4px 6px;
}
.header-sub-nav-item.link-to-self a {
  color: #fff;
}
footer {
  background-color: #7e3932;
  padding: 4px;
  text-align: center;
  clear: both;
}
footer a {
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}
#dl-aside {
  float: right;
  margin: 15px;
}
#seekrit {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  cursor: default;
}
#seekrit:hover {
  background: url("/favicon.ico");
}
/* Styles for flushing the footer to the bottom of the screen,
 * in case the page's content is shorter than the browser window
 */
html,
body {
  height: 100%;
}
.page-wrapper {
  min-height: 100%;
  position: relative;
}
.page-content {
  overflow: auto;
  padding-bottom: 29px;
}
footer {
  position: relative;
  margin-top: -29px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Conv_PressStart2P', Lucida Console, monospace;
}
/* We have two content widths:
 *   fullwidth (800px) stretches the entire width of our center column, or the entire width of a phone's screen
 *     Use .fullwidth-container
 *   inset (764px) has padding on both sides of the center column / small screen
 *     Use Bootstrap's normal .container
 */
.fullwidth-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 800px) {
  .fullwidth-container {
    width: auto;
  }
  .container {
    margin-left: 18px;
    margin-right: 18px;
  }
}
.center-column {
  background: #413b3b;
}
/* When the screen is wide enough, our logo header should set its own height.
 * This prevents the page from jumping downwards once the image loads.
 */
@media (min-width: 800px) {
  .logo-full {
    height: 232px;
    display: block;
  }
}
/* For that retro look, the background is a vertical gradient but with only a
 * handful of distinct colors.  It's created by styling a handful of background divs,
 * cuz I'm bein' pragmatic "like a BOSS!"
 */
.background-container {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
[class*="background-stripe"] {
  z-index: -1;
}
.background-header {
  background: url("../img/logorepeat.png");
  background-size: auto, 100%;
  background-repeat: repeat-x;
  background-position: 0 -152px, 0 80px;
  height: 80px;
}
#home .background-header {
  background-position: 0 0, 0 232px;
  height: 232px;
}
.background-stripe1 {
  background: #c8c8c8;
  height: 40px;
}
.background-stripe2 {
  background: #c0c0c0;
  height: 50px;
}
.background-stripe3 {
  background: #b8b8b8;
  height: 60px;
}
.background-stripe4 {
  background: #b0b0b0;
  height: 70px;
}
.background-stripe5 {
  background: #a8a8a8;
  height: 80px;
}
.background-stripe6 {
  background: #a0a0a0;
  height: 90px;
}
.background-stripe7 {
  background: #989898;
  height: 100px;
}
.background-stripe8 {
  background: #909090;
  height: 110px;
}
.background-stripe9 {
  background: #888;
  height: 120px;
}
.background-stripe10 {
  background: #808080;
  height: 130px;
}
.background-stripe11 {
  background: #787878;
  height: 140px;
}
.background-stripe12 {
  background: #707070;
  height: 150px;
}
.background-stripe13 {
  background: #686868;
  height: 160px;
}
.background-stripe14 {
  background: #606060;
  height: 9999px;
}
.extend-center-column-outer {
  position: absolute;
  height: 100%;
  width: 100%;
}
.extend-center-column-inner {
  width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #413b3b;
}
.class-select-controller-target {
  margin-left: -400px;
  margin-right: -400px;
}
.class-select-controller-target canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
