---
layout: 'gg2-header-footer'
showInNav: true
navTitle: 'IRC'
navPos: 4
url: '/irc.html?breakcache'
---
article.container
    section
        h3#classes IRC Chat
iframe(src="http://webchat.esper.net/?nick=Player....&channels=gg2&fg_color=000000&fg_sec_color=000e63&bg_color=ffffff&prompt=1", style="width: 100%; height: 500px", frameborder=0)
