---
layout: 'gg2-header-footer'
---
article
    section
        h2#classes IRC
        iframe(src="http://webchat.esper.net/?nick=Player....&channels=gg2&fg_color=000000&fg_sec_color=000e63&bg_color=ffffff&prompt=1", width="755", height="500", frameborder=0)
