---
layout: default
---
//- This is our standard GG2 website template: standard header and footer
.page-wrapper

    //- Background markup
    .background-container
        .extend-center-column-outer
            .extend-center-column-inner
        .background-header
        - for(var i = 0; i < 15; i++)
            div(class="background-stripe#{i}")

    .page-content

        //- Is this the homepage (index.html)?
        - var isHome = getDocument().getMeta().get('isHome')

        //- This nav menu is inserted into the HTML later (see "mixin nav")
        mixin nav
            if !isHome
                .nav-spacer(style="height: 30px")
            nav
                ul
                    li: a(href="./") Home
                    li: a(href="./download.html") Download
                    li: a(href="./forums/") Forums
                    li: a(href="./irc.html?breakcache") IRC

        if isHome
            header.fullwidth-container
                a.logo-full(href="./"): img(src="./img/logo.png", alt="Gang Garrison 2")
                mixin nav
        else
            header.fullwidth-container.narrow-header
                a.logo-mini(href="./")
                mixin nav


        .center-column.fullwidth-container
            != content

footer
    .flattrbutton
        a.FlattrButton(style="display:none;", rev="flattr;button:compact;", href="http://www.ganggarrison.com")
        noscript
            a(href="http://flattr.com/thing/304133/Gang-Garrison-2", target="_blank")
                img(src="http://api.flattr.com/button/flattr-badge-large.png", alt="Flattr this", title="Flattr this", border="0")
    a(href="./impressum.html") Legal notice (Impressum)
