---
layout: default
---
//- This is our standards GG2 website template: standard header and footer
.page-wrapper
    .page-content
        header
            a#logo(href="/") Gang Garrison 2
            nav
                ul
                    li: a(href="/") Home
                    li: a(href="./irc.html?breakcache") IRC
                    li: a(href="/forums/") Forums

        .center-column.fullwidth-container
            != content

footer
    .flattrbutton
        a.FlattrButton(style="display:none;", rev="flattr;button:compact;", href="http://www.ganggarrison.com")
        noscript
            a(href="http://flattr.com/thing/304133/Gang-Garrison-2", target="_blank")
                img(src="http://api.flattr.com/button/flattr-badge-large.png", alt="Flattr this", title="Flattr this", border="0")
    a(href="/impressum.html") Legal notice (Impressum)
